<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class='hoverBox'>
        {% for interval in data %}
        <div class='roll'>
            <div class='container'>
                <div class='moreInfo'>
                    <h3>{{ interval[0] }}</h3>
                    <p>Score: {{ interval[1] }}</p>
                    <h4>Unavailable:</h4>
                    <ul>
                        {% for person in interval[2] %}
                        <li>{{ person[0] }}, score: {{ person[1] }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>