{% extends "header.html" %}
{% block headAdditions %}
<style>
    .container {
        text-align: center;
    }

    img {
        display: block;
        margin: auto;
    }
</style>
{% endblock %}

{% block content %}
<h1>{{ error }} error encountered</h1>
{% if message is string %}
{{ message }}
{% else %}
{% for e in message %}
<p>{{ e }}</p>
{% endfor %}
{% endif %}
<br />
<img src='https://http.cat/{{ error }}' alt='{{ error }} error' />
<a href='https://http.cat'>Images by HTTP Cats</a>
{% endblock %}