{% block header %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script src="../static/js/sock.js" type="text/javascript"></script>
    <script src="../static/js/graphics.js" type="text/javascript"></script>
    <script src="../static/js/analysis.js" type="text/javascript"></script>
    <script src="../static/js/validateForm.js" type="text/javascript"></script>
    <script src="../static/js/participantHandler.js" type="text/javascript"></script>
    <script src="../static/js/inputVisuals.js"></script>

    <title>CSH Slate</title>
    {% block headAdditions %}{% endblock %}
</head>

<body {%block bodyAttrs %}{% endblock %}>
    <div>
        <nav>
            <div class="crate">
                <a href="/" class="nav-brand">Slate</a>
                <div id="mobileMenu" onclick="menuToggle()"><img src="../static/images/picklist.svg" alt="menu" /></div>
                <script>
                    function menuToggle(){
                        document.getElementById('navLink').classList.toggle('hide');
                    }
                </script>
                <div id="navLink" class="hide">
                    <a href="/about">
                        <p class="noMargin">About Slate</p>
                    </a>
                    <p class="eventable" onclick="emit('example')">Example usage</p>
                </div>
            </div>
        </nav>
    </div>

    <br />
    <br />
    <br />
    <div class="popup_container" id="statusPopup">
        <div class="popup">
            <h2 id="loadingtext">Loading:</h2>
            <div id="totalbar"></div>
            <ul id="calendarStatus"></ul>
        </div>
    </div>

    {% endblock %}

    <div id="container">
        {% block content %}{% endblock %}
        <div id="results"></div>
    </div>
    {% block footer %}
    {% endblock %}
</body>