{% block header %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>CSH Slate</title>
    {% block headAdditions %}{% endblock %}
</head>

<body {%block bodyAttrs %}{% endblock %}>
    <div>
        <nav>
            <div class="crate">
                <a href="/" class="nav-brand">Slate</a>
                <div id="navLink">
                    <a href="/about">
                        <p>About Slate</p>
                    </a>
                    <a href="/example">
                        <p>Example Usage</p>
                    </a>
                    <div>
                        <div class="dropdown-toggle" href="#" id="user01">
                          <img class='navUser' src='{{ current_user.picture }}'> {{ current_user.firstname }} {{ current_user.lastname }}
                          <span class="caret"></span>
                        </div>
                        <div class="dropdown-menu">
                          <!-- <div class="dropdown-divider"></div> -->
                          <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <script src="../static/js/header.js" type="text/javascript"></script>

    <br />
    <br />
    <br />
    {% endblock %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
</body>