{% extends "header.html" %}
{% block content %}
<template id="templateMember">
    <div class="selectBox">
        <div class='selectBox-selection'>
            <img />
        </div>
        <div class="selectBox-details">
            <div class="selectBox-name">
                <h4>Andrew Simonson</h4>
                <p>Cinnamon</p>
            </div>
            <div class="selectBox-groups">
            </div>
        </div>
    </div>
</template>

<template id="templateGroup">
    <div class="group">
        <p>group</p>
    </div>
</template>

<template id="templateManual">
    <div class="selection">
        <div class="identifier">
            <img src="../static/images/user.png" alt="user" />
            <textarea type="text" class="nameDisplay" placeholder="name"></textarea>
        </div>
        <textarea type="text" class="urlDisplay" placeholder="url"></textarea>
        <div class="scoreBox">
            score:
            <textarea type="number" min="-1" max="99" class="finalScore">1</textarea>
            <img class="delete" src="../static/images/close.svg" alt="delete participant" />
        </div>
    </div>
</template>

<template id="templateSelection">
    <div class="selection">
        <div class="identifier">
            <img />
            <div class="nameDisplay">name</div>
        </div>
        <div class="urlDisplay">url</div>
        <div class="scoreBox">
            score:
            <textarea type="number" min="-1" max="99" class="finalScore">1</textarea>
            <img class="delete" src="../static/images/close.svg" alt="delete participant" />
        </div>
    </div>
</template>

<form name="slateIn" action="javascript:submitForm()" onsubmit="return validateForm()" method="post">
    <div class="box">
        <div class="memberSearch">
            <h3>Select Participating Members</h3>
            <input type="text" name="memberDirect" placeholder="search name or username" oninput="searchForMembers()"
                id="searchMembers">
            <button type="button" onclick="selectAll()">(De)Select All Displayed</button>
            <img id='loadingMembers' src='../static/images/blue_spinner.gif' alt='loading members'/>
            <script>emitData('getMembers', 'active')</script>
            <br />
        </div>
        <div class="selectScrollSearch">
            <div class="scroller" id="memberSearchScroll">

            </div>
        </div>
    </div>
    <button type="button" onclick="addParticipant()" id="addButton">Add participant by ical URL</button>
    <div id="selectedParticipants"></div>
    <div id="manualParticipants"></div>
    <div class="box">
        <div>
            <script>
                function showPopup() {
                    document.getElementById("settings").style.display = "block";
                }
                function hidePopup() {
                    document.querySelector("#settings").style.display = "none";
                }
            </script>
            <img src="../static/images/settings.svg" onclick="showPopup()" class="tabPic"></img>

            <div class="popup_container" id="settings">
                <div class="popup">
                    <img src="../static/images/close.svg" class="tabPic" onclick="hidePopup()"></img>
                    <p>Timezone</p>
                    <p class="smalltext">Note: Eastern Standard Time is -5</p>
                    <p><input type="number" name="utc-offset" value="-5"></p>
                    <p><input type='checkbox' name='daylightSavingsTick' value='DST' checked> Adjust for daylight
                        savings?</p>
                    <p>interval frequency (minutes)</p>
                    <p class="smalltext">ie. an interval frequency of 15 minutes means Slate checks 4 timeslots per hour
                        in the given time frame.</p>
                    <p><input type="number" name="interval" value="60" min="15" max="1440"></p>
                </div>
            </div>
            <p>First possible time</p>
            <p><input type="datetime-local" name="startTime"></p>
            <p>Last possible time</p>
            <p><input type="datetime-local" name="endTime"></p>
            <p>Event length (minutes)</p>
            <p><input type="number" name="duration" value="60" min="15" max="1440"></p>
            <p><input type="submit" value="Submit" /></p>
        </div>
    </div>
</form>
<script>startForm();</script>
{% endblock %}